@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: #E9EDF0;

  --primary-blue: #0071DC;
    --secondary-blue: #00A7F4;
    --tertiary-blue: #00D5E6;
    --primary-green: #70FACB;
    --primary-yellow:#FFC220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: #E9EDF0;
    

    --primary-blue: #0071DC;
    --secondary-blue: #00A7F4;
    --tertiary-blue: #00D5E6;
    --primary-green: #70FACB;
    --primary-yellow:#FFC220;
  }
}

body {
  color: var(--foreground-rgb);
  background:--background-rgb;
    
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

